.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 5px;
  }
#navItems {
    float: right;
  }

#lazado{
    margin:15px;
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
  
li a:hover {
    background-color: #111111;
}

.allitems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 200px;
}

.itemcard{
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.3s;
    width: 250px;
    border-radius: 25px;

}
.itemcard:hover {
    box-shadow: 0 20px 16px 0 rgb(141, 141, 141);
}

.itemimage {
  max-height: 200px;
  border-radius: 24px;
  width: 100%;
  object-fit:contain;

}

.itemdetails {
    padding: 2px 16px;
    font-family: Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.addtocart {
    display: inline-block;
    border-radius: 24px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 25px;
  }
  
.addtocart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.addtocart span:after {
    content: '\002B';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.addtocart:hover span {
    padding-right: 25px;
}
  
.addtocart:hover span:after {
    opacity: 1;
    right: 0;
}

.shoppingcart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 65px;
    right: 0;
    background-color: #f4511e;
    overflow-x: hidden;
    padding: 20px;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 7px;
    border-radius: 25px;
}

.cartitemcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
    margin: 20px;
    margin-right: 40px;
    width: 200px;
    height: 50px;
}
.cartitemcard h4{
    margin: 5px;
}

.cartitemcard h5{
    margin: 5px;
}
